Pro C# 2008 and the .NET 3.5 Platform/Chapter 25/MagicEightBallService/MagicEightBallServiceClient/Service References/ServiceReference/MagicEightBallService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Intertech.com" elementFormDefault="qualified" targetNamespace="http://Intertech.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObtainAnswerToQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userQuestion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtainAnswerToQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtainAnswerToQuestionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>